<p>This is the index view duude</p>



<% @result.each do |row| %>
<%= "#{row['key']}  #{row['value']}" %>
<br/>
<% end %> 

<form action="/" method="post" accept-charset="utf-8">
	
<textarea name="sawmessage" rows="8" cols="40"></textarea>
	<p><input type="submit" value="Continue &rarr;" /></p>
</form>