
<div id = "wrapper">
	<div id = "posts">
			 <% @result.reverse_each do |row| %>
			<div class = "massage" style = "position:absolute;top:
			<%= "#{row['value'][2]}" %>px;
			left:
			<%= "#{row['value'][1]}" %>px
			">
			<p>	<%= "#{row['value'][0]}" %> </p>
			
			<input class = "reply" type="submit" value="Reply" />
			<% if row['value'][3].nil? == false %>
				<div class = "replyPost">
					<p><%= "#{row['value'][3]['msgbody']}"%></p>

				</div>
				
				<% end %>

		</div>
		
		
		 	<% end %> 
		
	</div>
	
	<div id = "bottom">
		<div id = button>Clicky</div>
		<form id ="myForm" action="#" accept-charset="utf-8">
	
		<textarea name = "sawmessage" id = "sawmessage" rows = "4" cols = "60" placeholder="whom did who see?"></textarea>
			<p><input id = "say" type="submit" value="Post!" /></p>
		</form>
		
	</div>

</div>

