
<div id = "wrapper">
	<div id = "posts">
		
	</div>
	
	<div id = "bottom">
		<form action="#" accept-charset="utf-8">
	
		<textarea name = "sawmessage" id = "sawmessage" rows = "4" cols = "60"></textarea>
			<p><input id = "say" type="submit" value="Continue &rarr;" /></p>
		</form>
		
	</div>

</div>

