
<div id = "wrapper">
	<div id = "posts">
	</div>
<form action="#" accept-charset="utf-8">
	
<textarea name = "sawmessage" id = "sawmessage" rows = "8" cols = "40"></textarea>
	<p><input id = "say" type="submit" value="Continue &rarr;" /></p>
</form>

</div>

