

body{
	background:url('/images/resize.jpg');
	margin-top:30px;
}

#wrapper{
	width:960px;
	margin: 0 auto;

}

#posts{
	width:660px;
	margin: 0 auto;
}

#bottom{

	margin: 0 auto;
}

#bottom form{

	position:fixed;
	top:75%;
	left:40%;
}

.startHidden{

	display:none;
}

.message{
/*	position:absolute;
	top:200px;
	left:200px;
	font-family:Helvetica, sans-serif;
	font-size:14px;
	margin: 10px;
	color:#fff;
	text-shadow: -1px -2px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 2px 2px 3px rgba(0 , 0 ,0, 0.6);
	padding:15px;
	-moz-border-radius: 8px;
	background-image: -moz-linear-gradient(center bottom, #aaa 0%, #ddd 95%);*/
	display:none;
	width:250px;
	padding: 4px 0;
	margin:auto;
	color:#212121;
	
	-webkit-border-bottom-left-radius: 20px 500px;
	-webkit-border-bottom-right-radius: 500px 50px;
	-webkit-border-top-right-radius: 5px 100px;
	
	
	-moz-border-radius-bottomleft: 20px 500px;
	-moz-border-radius-bottomright: 500px 30px;
	-moz-border-radius-topright: 5px 100px;
	
	
	background:#fcf59b;
	
	background: -moz-repeating-linear-gradient( top, #fcf59b, #fcf59b 28px, #81cbde 30px);
	background: 
						-webkit-gradient(
						linear, left top, left bottom, 
						from(#81cbde),
						color-stop(4%, #fcf59b)
						);
	-webkit-background-size: 100% 20px;	
/*	-webkit-box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);	*/
	-webkit-box-shadow: rgba(0, 0, 0, 0.592969) 0px 1px 10px, rgba(0, 0, 0, 0.2) 0px 0px 50px inset;
	-moz-box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);	
	-moz-box-shadow: rgba(0, 0, 0, 0.292969) 0px 1px 4px, rgba(0, 0, 0, 0.3) 0px 0px 90px inset;
	box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);	
	line-height:20px;			
					
}

p{
	font-family:'Permanent Marker';
	font-size:14px;
	padding: 0 10px;
}